
<h1>Dashboard</h1>
<p> Welcome <%= currentUser.cname %></p>

<form action="/vehiclelisting" method="GET">
    <!-- <button type="submit" class="btn btn-dark">Show Vehicles</button> -->
    <button type="submit" class="btn btn-dark">Make a Booking</button>
</form>

<a href="/logout">Logout</a>
