<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Vehicles For Rent</h1>

    <form action="/vehiclelisting" method="POST">
      <% allVehicles.forEach(function(car){ %>
        <p class="secret-text"><%=car.vname %></p>
        <button type="submit" class="btn btn-dark" name="mycar" value="<%=car._id %>">Book</button>
      <% }) %>
    </form>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
